section#about-bunner.about-bunner
  .about-bunner__body
    .about-bunner__title
      h2 Apie mus
    .about-bunner__text  UAB „ Tometa “ yra gamybinė įmonė, įkurta 1993 m. Įmonėje siuvama vyriška, moteriška  ir vaikiška apranga.







