section#portrait.portrait
    .container
      .portrait__body
        .portrait__column
          .portrait__text 
            p Gamyboje pastoviai vyksta pramoninės ir technologinės bazės tobulinimo darbai: įsigyjama nauja įranga, įdiegiama perspektyvi gaminių apdirbimo technologija.
            p Gaminių asortimentas vystosi keliomis kryptimis:
          ul.portrait__items
            li.portrait__item Uniforminiai drabužiai mokykloms ir įmonėms
            li.portrait__item Individualūs  užsakymai
            li.portrait__item Koncertinė apranga
          .portrait__text.portrait__text--low
            p Optimalus kainos ir kokybės santykis leidžia kiekvienam pirkėjui rasti sau prekę.
            p Mūsų drabužių galima įsigyti firminėse parduotuvėse  UNIFORMOS  Kaune ir Klaipėdoje.
        .portrait__column
          iframe.portrait-video(src='https://www.youtube.com/embed/YnvOQji6zZ0' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' width='560' height='315' frameborder='0')