section#a-tabs.a-tabs
    .container
      .a-tabs__title
        h3 Veiklos sritys

      .a-tabs__content
              .tabs
                  nav.tabs__items
                    a(href="#tab-1" data="active").tabs__item Vyriški drabužiai HERMANN
                    a(href="#tab-2").tabs__item Uniformos
                    a(href="#tab-3").tabs__item Koncertinė apranga
                    a(href="#tab-4").tabs__item Individualūs užsakymai
                  ul.tabs__body
                    li.tabs__block#tab-1  
                      .tabs__tags
                        .tabs__tag  kostiumai 
                          span  , 
                        .tabs__tag  švarkai
                          span  , 
                        .tabs__tag  kelnės
                          span  , 
                        .tabs__tag  puspalčiai
                          span  , 
                        .tabs__tag  megztiniai
                          span  , 
                        .tabs__tag  marškiniai
                          span  , 
                        .tabs__tag  aksesuarai
                      p.akr-drop__info Jau virš 20 metų mūsų siuvėjų rankomis pasiūti vyriški drabužiai puošia stipriąją lytį. Klasikiniai kostiumai, švarkai pagaminti pagal šiuolaikinės mados tendencijas, sudaro didelę dalį mūsų produkcijos. Vyrai mėgsta jaustis patogiai ir gerai atrodyti. Pastaruoju metu vis dažniau pirkėjų žvilgsniai krypsta į mūsų siūlomus sportiško stiliaus drabužius, suderintus su klasika, kurie dvelkia nuosaikumu ir šiuolaikiškumu. Tam būdinga – papildomos kišenės, įvairūs dekoratyviniai apdirbimai: alkūniniai lopai, skeltukai, kišenių įdurai, dirželiai. Šios detalės padeda įgyvendinti mūsų pirkėjų lūkesčius.
                      p.akr-drop__info Nereikia pamiršti ir apie aksesuarus. Peteliškės, kaklaskarės, kaklaraiščio segtukas, marškinių sąsagos – viskas tai tobulo įvaizdžio detalės.
                    li.tabs__block#tab-2 
                      .tabs__tags
                        .tabs__tag  kostiumai 
                          span  , 
                        .tabs__tag  švarkai
                          span  , 
                        .tabs__tag  kelnės
                          span  , 
                        .tabs__tag  puspalčiai
                          span  , 
                        .tabs__tag  megztiniai
                          span  , 
                        .tabs__tag  marškiniai
                          span  , 
                        .tabs__tag  aksesuarai
                      p.akr-drop__info sta į mūsų siūlomus sportiško stiliaus drabužius, suderintus su klasika, kurie dvelkia nuosaikumu ir šiuolaikiškumu. Tam būdinga – papildomos kišenės, įvairūs dekoratyviniai apdirbimai: alkūniniai lopai, skeltukai, kišenių įdurai, dirželiai. Šios detalės padeda įgyvendinti mūsų pirkėjų lūkesčius.
                      p.akr-drop__info Nereikia pamiršti ir apie aksesuarus. Peteliškės, kaklaskarės, kaklaraiščio segtukas, marškinių sąsagos – viskas tai tobulo įvaizdžio detalės.
                    li.tabs__block#tab-3
                      .tabs__tags
                        .tabs__tag  kostiumai 
                          span  , 
                        .tabs__tag  švarkai
                          span  , 
                        .tabs__tag  kelnės
                          span  , 
                        .tabs__tag  puspalčiai
                          span  , 
                        .tabs__tag  megztiniai
                          span  , 
                        .tabs__tag  marškiniai
                          span  , 
                        .tabs__tag  aksesuarai 
                      p.akr-drop__info Jau virš 20 metų mūsų siuvėjų rankomis pasiūti vyriški drabužiai puošia stipriąją lytį. Klasikiniai kostiumai, švarkai pagaminti pagal šiuolaikinės mados ten
                      p.akr-drop__info Nereikia pamiršti ir apie aksesuarus. Peteliškės, kaklaskarės, kaklaraiščio segtukas, marškinių sąsagos – viskas tai tobulo įvaizdžio detalės.
                    li.tabs__block#tab-4
                      .tabs__tags
                        .tabs__tag  kostiumai 
                          span  , 
                        .tabs__tag  švarkai
                          span  , 
                        .tabs__tag  kelnės
                          span  , 
                        .tabs__tag  puspalčiai
                          span  , 
                        .tabs__tag  megztiniai
                          span  , 
                        .tabs__tag  marškiniai
                          span  , 
                        .tabs__tag  aksesuarai 
                      p.akr-drop__info Jau virš 20 metų mūsų siuvėjų rankomis pasiūti vyriški drabužiai puošia stipriąją lytį. Klasikiniai kostiumai, švarkai pagaminti pagal šiuolaikinės mados tendencijas, sudaro didelę dalį mūsų produkcijos. Vyrai mėgsta jaustis patogiai ir gerai atrodyti. Pastaruoju metu vis dažniau pirkėjų žvilgsniai krypsta į mūsų siūlomus sportiško stiliaus drabužius, suderintus su klasika, kurie dvelkia nuosaikumu ir šiuolaikiškumu. Tam būdinga – papildomos kišenės, įvairūs dekoratyviniai apdirbimai: alkūniniai lopai, skeltukai, kišenių įdurai, dirželiai. Šios detalės padeda įgyvendinti mūsų pirkėjų lūkesčius.
                      p.akr-drop__info Nereikia pamiršti ir apie aksesuarus. Peteliškės, kaklaskarės, kaklaraiščio segtukas, marškinių sąsagos – viskas tai tobulo įvaizdžio detalės.









