section#slider-same-products-card.slider-models.slider-models--card
      .slider-models__body.container
        .slider-models--card__title
          h3 Panašūs produktai
        .slider__slider.slider-models__content.slider
            ul.slider-models__slider.slider__body.slider-js-4
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/card/img-2.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/card/img-3.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/card/img-4.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/card/img-5.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/card/img-2.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/card/img-3.png')")