section#cards.cards
  .cards__wrapper
    .container
      .cards__title
        h2 Kodėl verta siūti mokyklinę uniformą su mumis?
      .cards__body
        .cards__item.cards-item
          .card 
              //- svg(height="60" width="60").card__img.card__img--normal
              //-   use(xlink:href="assets/img/sprite.svg#needle")
              img(src="assets/img/svg/Needle.svg",alt="img").card__img.card__img--normal
              img(src="assets/img/svg/needle-white.svg",alt="img").card__img.card__img--hover
              h5.card__title  Atsparūs yrimui ir lengvai prižiūrimi audiniai
        .cards__item.cards-item
          .card 
              
              img(src="assets/img/svg/kimono.svg",alt="img").card__img.card__img--normal
              img(src="assets/img/svg/shert.svg",alt="img").card__img.card__img--normal

              img(src="assets/img/svg/kimono-white.svg",alt="img").card__img.card__img--hover
              img(src="assets/img/svg/shert-white.svg",alt="img").card__img.card__img--hover
              h5.card__title  Platus asortimentas ir modernūs modeliai
        .cards__item.cards-item
          .card
              img(src="assets/img/svg/school.svg",alt="img").card__img.card__img--normal
              img(src="assets/img/svg/school-white.svg",alt="img").card__img.card__img--hover
              h5.card__title  Emblemų su mokyklos logotipu gaminimas
        .cards__item.cards-item
          .card 
              img.card__img(src="assets/img/svg/swing.svg" alt="img").card__img.card__img--normal
              img.card__img(src="assets/img/svg/swing-white.svg" alt="img").card__img.card__img--hover
              h5.card__title  Didelis dydžių diapazonas


//- svg(style='display:none' id="needle")

