section#insta.insta
    .container
      .insta__title.cards__title
        h2 Sekite mus Instagram
        img(src="assets/img/svg/Instagram.svg",alt="img")
      .insta__body
        .insta__item.insta-item
          a.slider-card__link(href="#!")
          img.insta-item__img(src="assets/img/png/img-9.png",alt="img")
        .insta__item.insta-item
          a.slider-card__link(href="#!")
          img.insta-item__img(src="assets/img/png/img-10.png",alt="img")
        .insta__item.insta-item
          a.slider-card__link(href="#!")
          img.insta-item__img(src="assets/img/png/img-11.png",alt="img")
        .insta__item.insta-item
          a.slider-card__link(href="#!")
          img.insta-item__img(src="assets/img/png/img-12.png",alt="img")