section#models.models
    .container
      .models__body
        .models__item.models-item
          .models-item__column
            .models-item__title.title-1
              h2 Mokyklinės uniformos
              span._big-number 1
            .models-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin, sem vel ullamcorper sollicitudin, arcu turpis euismod diam, vel auctor dolor magna ut arcu.
            button.btn.btn--light.models-item__button(type="button" ) Katalogas
          .models-item__column
            .models-item__img(style="background-image: url('/assets/img/png/img-2.png')")
        .models__item.models-item
          .models-item__column
            .models-item__title.title-1
              h2 Apranga organizacijoms
              span._big-number 2
            .models-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin, sem vel ullamcorper sollicitudin, arcu turpis euismod diam, vel auctor dolor magna ut arcu.
            button.btn.btn--light.models-item__button(type="button" ) Katalogas
          .models-item__column
            .models-item__img(style="background-image: url('/assets/img/png/img-4.png')")
        .models__item.models-item
          .models-item__column
            .models-item__title.title-1
              h2 Koncertinė apranga
              span._big-number 3
            .models-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin, sem vel ullamcorper sollicitudin, arcu turpis euismod diam, vel auctor dolor magna ut arcu.
            button.btn.btn--light.models-item__button(type="button" ) Katalogas
          .models-item__column
            .models-item__img(style="background-image: url('/assets/img/png/img-3.png')")