section#slider-cards.slider-cards
      .slider-cards__body
        .slider__slider.slider-cards__content.slider
            ul.slider-cards__slider.slider__body.slider-js-1
                li.slider-cards__item.slider-card
                  img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                  .slider-card__title.main-title.container 
                      h2 Apranga mokykloms ir organizacijoms 
                      a(href="#!").slider-card__order
                        span Užsakyti
                li.slider-cards__item.slider-card
                  img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                  .slider-card__title.main-title.container 
                      h2 Apranga mokykloms ir organizacijoms 
                      a(href="#!").slider-card__order
                        span Užsakyti
                li.slider-cards__item.slider-card
                  img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                  .slider-card__title.main-title.container 
                      h2 Apranga mokykloms ir organizacijoms 
                      a(href="#!").slider-card__order
                        span Užsakyti
                li.slider-cards__item.slider-card
                  img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                  .slider-card__title.main-title.container 
                      h2 Apranga mokykloms ir organizacijoms
                      a(href="#!").slider-card__order
                        span Užsakyti 
                li.slider-cards__item.slider-card
                  img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                  .slider-card__title.main-title.container
                      a(href="#!").slider-card__order
                        span Užsakyti 
                      h2 Apranga mokykloms ir organizacijoms 
             


