section#slider-model.slider-models
      .slider-models__body.container
        .slider__slider.slider-models__content.slider
            ul.slider-models__slider.slider__body.slider-js-2
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/img-5.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/img-6.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/img-7.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/img-8.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/img-5.png')")
                li.slider-models__item.slider-card
                  a.slider-card__link(href="#!")
                  .slider-card__img(style="background-image: url('assets/img/png/img-6.png')")


