section#cat-filter.cat-filter
  .cat-filter__wrapper
      .cat-filter__body.container
        a(href="#!").cat-filter__link._15-18 Pradžia
        .cat-filter__devider
        a(href="#!").cat-filter__link._15-18 Uniformos
        .cat-filter__block
          a(href="#!").cat-filter__link.cat-filter__link--block._15-18 Pagal populiarumą
          a(href="#!").cat-filter__link.cat-filter__link--block._15-18 Pagal kainą
          a(href="#!").cat-filter__link.cat-filter__link--block._15-18 Pagal naujumą
        