section#address.address
    .container
      .address__title
        h2  Mūsų parduotuvės:
      .address__body
        .address__item.address-item
          .address-item__title
            h3 Kaunas
          .address-item__blocks
            .address-item__block.item-block
              .item-block__title
                h4  Darbo laikas:
              .item-block__text
                p I-V 09:00-17:30
                p VI-VII nedirbame
            .address-item__block.item-block
              .item-block__title
                h4  Telefono numeris:
              .item-block__text
                p Tel.: 837 455185
                p Fax.: 837 455144
            .address-item__block.item-block
              .item-block__title
                h4  Adresas:
              .item-block__text
                p Technikos g.18S, Kaunas
            .address-item__block.item-block
              .item-block__title
                h4  El. paštas:
              .item-block__text
                p info@uniformos.lt
        .address__item
          .address-map
      .address__body
        .address__item.address-item
          .address-item__title
            h3 Klaipėda
          .address-item__blocks
            .address-item__block.item-block
              .item-block__title
                h4  Darbo laikas:
              .item-block__text
                p I-V 10:00-18:00
                p VI 10:00-16:00
                p VII nedirbame
            .address-item__block.item-block
              .item-block__title
                h4  Telefono numeris:
              .item-block__text
                p 8 46 311970
                p 8 615 52012
                p 8 618 14158
            .address-item__block.item-block
              .item-block__title
                h4  Adresas:
              .item-block__text
                p Rumpiškės g.2,  Klaipėda
            .address-item__block.item-block
              .item-block__title
                h4  El. paštas:
              .item-block__text
                p klaipeda@uniformos.lt
        .address__item
          .address-map
          
