section#contacts-bunner.about-bunner.contacts-bunner
  .contacts-bunner__body
    .container
        .contacts-bunner__title
            h2 Susisiekite su mumis
        .contacts-bunner__form
          .con-form
            form.connect__form.connect__form--contacts
              .connect__form-item
                input#name(type='text' required='' placeholder=' Denzel Washington')
                label(for='name') What is your name?
              .connect__form-item
                input#email(type='address' required='' placeholder=' thebestmail@mail.com')
                label(for='email') What is your address?
              .connect__form-item.connect__form-item--message
                textarea#message(type='text' required='' placeholder=' Your awesome message' cols=' 40' rows='6')
                label(for='message') Žinutė
              .form__submit-button
                button#submit-button(type='submit').btn--success Siųsti