section#conpro.conpro
    .container
      .conpro__body
        .conpro__title
          h2  UAB TOMETA
        .conpro__item
            p įmonės kodas: 110559074
            p  pvm kodas: lt105590716
        span.conpro__devider
        .conpro__item
            .conpro__property.conpro__property--location Technikos g. 18S, Kaunas
            .conpro__property.conpro__property--work I-V 10:00-18:00
            .conpro__property.conpro__property--email info@uniformos.lt
