extends ../layout/main
block header
  include ../modules/first
block content
  include ../modules/about/about-bunner
  include ../modules/about/portrait
  include ../modules/about/tabs
block footer
  include ../modules/footer