extends ../layout/main
block header
  include ../modules/card/header-card
block content
  include ../modules/card/slider-product-card
  include ../modules/card/slider-same-products-card
block footer
  include ../modules/footer
  //- include ../modules/modal