extends ../layout/main
block header
  include ../modules/first
block content
  .wrapper-categories
    include ../modules/categories/categories-filter
    include ../modules/categories/categories-catalog
block footer
  include ../modules/footer