extends ../layout/main
block header
  include ../modules/contacts/contacts-header
block content
  include ../modules/contacts/contacts-bunner
  include ../modules/contacts/contacts-properties
  include ../modules/contacts/contacts-address
block footer
  include ../modules/footer