extends ../layout/main
block header
  include ../modules/first
  include ../modules/slider-cards
block content
  
  include ../modules/cards
  include ../modules/models
  include ../modules/slider-models
  include ../modules/insta
  

block footer
  include ../modules/footer
  //- include ../modules/modal
  